<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5 30V26.6667H35V30H5ZM5 21.6667V18.3333H35V21.6667H5ZM5 13.3333V10H35V13.3333H5Z" fill="white" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#about">About the Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gameplay">Gameplay Experience</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#signature">Signature Guests</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#advantages">Advantages</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gallery">Gallery</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#about">About the Game</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#gameplay">Gameplay Experience</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#features">Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#signature">Signature Guests</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#advantages">Advantages</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#gallery">Gallery</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
</div>