.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-link{
    display: none;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    margin-top: 510px;
}
.home-title{
font-family: "EB Garamond", sans-serif;
    font-weight: 500;
    font-size: 82px;
    line-height: 0.96;
    letter-spacing: 0.04em;
    color: #fefed8;
}
.home-text{
color: #fefed8;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
}
.home-container{
    padding-left: 64px;
    position: relative;
}
.home-wrapper{
width: 651px;
    height: 268px;
    margin-top: 250px;
    position: relative;
}
.home-title{
font-size: 152px;
}
.home-text{
    position: absolute;
width: 246px;
bottom: 0;
right: 0;
}
.home-link {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
bottom: -16%;
left: 44%;
gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.4em;
    text-transform: lowercase;
    text-align: center;
    color: rgba(254, 254, 216, 0.4);
}
}
.back-section{
    background-image: url("/img/back/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
@media only screen and (min-width: 1440px) {
.back-section{
    background-image: url("/img/back/desk.png");
}    
}
/* About the Game */
.title-container{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.title-container h2{
    margin-bottom: 0;
}
@media only screen and (min-width: 1440px) {
 .about-container{
    padding-top: 96px;
 }
 .about-text{
    width: 874px;
    margin-left: auto;
    margin-right: auto;
 }
}
/* Gameplay Experience */
.gameplay-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.gameplay-item{
border: 1px solid #525252;
    border-radius: 8px;
    padding: 40px 16px;
    width: 341px;
    height: 199px;
backdrop-filter: blur(15px);
    background: rgba(5, 5, 5, 0.15);
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}
.gameplay-title{
font-family: "EB Garamond", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.36;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fefed8;
}
.gameplay-text{
    text-align: center;
    color: #fefed8;
}
@media only screen and (min-width: 1440px) {
 .gameplay-list{
margin-top: 48px;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 32px;
}  
}