@import url('./styles.css');

.background {
    text-align: left;
}

.privacy-title {
font-family: "EB Garamond", sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.08;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 30px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;

}

.underline {
    color: #3d6dff;

}
.word-break{
   word-break: break-all;
}
.text {
    margin-top: 16px;
}

.policy-number {
    padding-left: 20px;
}


.policy-span {
color: #0095ff;
}
.span-text{
font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
    color: #fff;
}


@media only screen and (min-width: 1440px) {
    .policy-container {
        padding-left: 220px;
        padding-right: 212px;
    }

    .privacy-title {
        font-size: 42px;
    }

    .policy-subtitle {
        font-size: 20px;
    }

    .article {
        font-size: 20px;
    }
}